body {
  background-color: rgb(37, 35, 35);
  margin-left: 30px;
}
.menu {
  margin-bottom: 40px;
}

.button,
.input {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 11px;
  color: rgb(205, 216, 228);
  text-shadow: 0 -1px rgb(46, 53, 58);
  text-decoration: none;
  user-select: none;
  line-height: 2em;
  padding: 1px 1.2em;
  outline: none;
  border: 1px solid rgba(33, 43, 52, 1);
  border-radius: 3px;
  background: rgb(81, 92, 102) linear-gradient(rgb(81, 92, 102), rgb(55, 59, 63));
  box-shadow: inset 0 1px rgba(101, 114, 126, 1), inset 0 0 1px rgba(140, 150, 170, 0.8), 0 1px rgb(83, 94, 104),
    0 0 1px rgb(86, 96, 106);
  text-transform: uppercase;
  cursor: pointer;
}

.menu-button {
  background: rgb(144, 151, 158) linear-gradient(rgb(155, 160, 165), rgb(143, 138, 138));
}

.icon {
  background: rgb(223, 191, 162) linear-gradient(rgb(15, 15, 15), rgb(230, 43, 10));
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}
.start-icon {
  color: chartreuse;
  border: 1px solid chartreuse;
}
.form {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.drive-control {
  margin-top: 20px;
}

.road {
  border-bottom: 2px dotted whitesmoke;
  position: relative;
}

.button:active {
  background: rgb(17, 17, 17) linear-gradient(rgb(16, 18, 19), rgb(69, 78, 87));
}

h1,
h2,
.car-name {
  color: rgb(243, 235, 225);
}
.car {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 100px;
}
li,
ul {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

li {
  list-style: none;
}

.car-name {
  margin-left: 10px;
  font-weight: 600;
}

thead {
  background-color: rgb(48, 48, 148);
  color: bisque;
}
.table {
  border-collapse: collapse;
  margin-bottom: 30px;
}
th,
td {
  margin: 2px;
  padding-left: 5px;
  padding: 2px 10px;
}
td {
  color: aliceblue;
}
